In [54]:
import pandas as pd

file1 =r"C:\Users\Sharlmagne Henry\Documents\Data Analytics\WHO COVID-19 Insights\WHO COVID-19 Data\WHO-COVID-19-global-data.csv"
file2 = r"C:\Users\Sharlmagne Henry\Documents\Data Analytics\WHO COVID-19 Insights\WHO COVID-19 Data\WHO-COVID-19-global-table-data.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2, index_col=False)

In [55]:
df2

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,599825400,7695.455696,4431817,56.857965,644248,6469458,82.999865,13079,0.167797,1866
1,United States of America,Americas,93060268,28114.659000,557553,168.444000,91651,1033467,312.223000,2646,0.799000,230
2,India,South-East Asia,44428393,3219.439000,60198,4.362000,7231,527874,38.252000,422,0.031000,45
3,Brazil,Americas,34397205,16182.395000,106123,49.926000,12458,683622,321.615000,951,0.447000,128
4,France,Europe,33493980,51498.017000,114564,176.146000,27358,150523,231.434000,320,0.492000,72
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Pitcairn Islands,Western Pacific,4,8000.000000,0,0.000000,0,0,0.000000,0,0.000000,0
234,Democratic People's Republic of Korea,South-East Asia,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
235,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
236,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
237,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0